<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project12.board.BoardMapper">
<insert id="insBoard">
    insert into board
    (title,ctnt,writer)
    values
    (#{title},#{ctnt},#{writer})

</insert>
    <update id="upBoard">
        update board
        set
        title = #{title},
        ctnt = #{ctnt},
        writer = #{writer},
        updated_at = current_timestemp()
        where iboard = #{iboard}
    </update>
<select id="selAllBoard">
    SELECT iboard, title, ctnt, writer, created_at AS createdAt
    FROM board
    ORDER BY iboard DESC
    LIMIT #{startIdx}, #{lowlen}

</select>
    <select id="sellByIdBoard">
        SELECT iboard, title, ctnt, writer, created_at as createdAt, updated_at as updatedAt
        from board
        where iboard = #{iboard}
    </select>

    <update id="delBoard">
        update board
        set delyn = case
        when delyn = 0 then 1,
        when delyn = 1 then 0
        end
        where iboard = #{iboard}
    </update>

</mapper>